kafka.topics=spark_events
zookeeper.connect=<KAFKA1-NODE-INTERNAL-DNS-NAME>:2181,<KAFKA2-NODE-INTERNAL-DNS-NAME>:2181,<KAFKA3-NODE-INTERNAL-DNS-NAME>:2181

influx.host=http://<DATA-NODE-INTERNAL-DNS-NAME>:8086
influx.user=root
influx.pass=root
influx.db=spark_events

schema.registry.url=http://<DATA-NODE-INTERNAL-DNS-NAME>:8080/1/schemas/
schema.registry.token=<DATA-API-TOKEN>
